#set($title = "华昌人行配置")
#extends("../../layout/main.vm")

#block('head_meta')
	<link rel="stylesheet" type="text/css" href="/static/styles/pages/configure.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
#parse("../pages/common/_menu.vm")
<div class="main-box" data-toggle="" data-target="">
	<div class="main-header">
		<div class="breadcrumb">
  			<a href="/index.shtml"><i class="fa fa-th-large"></i>app配置后台</a>
  			<i class="fa fa-caret-right"></i>
		    <a href="/parameter/query.shtml">华昌人行配置</a>
		</div>
	</div>

	<div class="main-cnt">
		<h1>华昌人行配置</h1>
	    <hr/>

		<!--<div class="row toolbar">-->
      		<!--<div class="col-xs-12 ">-->
            <!--<form class="form-inline pull-left">-->
              <!--<div class="form-group noborder">-->
                <!--<label for="name">配置文件名:</label>-->
                <!--<input type="text" name="name" class="form-control">-->
              <!--</div>-->
			  <!--<div class="form-group noborder">-->
				<!--<label for="name">系统:</label>-->
				<!--<select class="selectpicker" name="system">-->
					<!--<option value="">请选择</option>-->
					<!--<option value="0">无忧app</option>-->
					<!--<option value="1">销售易</option>-->
					<!--<option value="2">有钱用</option>-->
					<!--<option value="3">3c交叉现金贷</option>-->
				<!--</select>-->
			  <!--</div>-->
              <!--<button type="button" class="btn btn-primary js-search">查询</button>-->
            <!--</form>-->
      		<!--</div>-->
      	<!--</div>-->

	    <div class="panel panel-default">
        	<div class="panel-body nopadding">
          		<table class="table data-table">
              		<thead>
                		<tr>
		                  	<th>产品线</th>
  							<th>总次数</th>
  							<th>已用次数</th>
  							<th>剩余可用次数</th>
  							<th>修改人</th>
  							<th>修改时间</th>
  							<th>操作</th>
		                </tr>
              		</thead>
            	</table>
         	</div>
        </div>

	</div>
</div>

<script type="text/html" id="editDialog">
    <div class="row">
        <form id="editForm" class="form-horizontal" action="" method="post" autocomplete="off">
            <div class="form-group noborder">
                <div class="col-md-10 col-md-offset-1">
                    <textarea id="content" name="content" class="form-control" maxlength="2000" rows="5" placeholder="关键词1，关键词2，关键词3">ss</textarea>
                    <span class="">每个关键词之间请用中文逗号，隔开</span>
                    <div><span class="msg-box n-right" for="content"></span></div>
                </div>
            </div>
        </form>
    </div>
</script>
<!--<script type="text/html" id="uploadDialog">-->
    <!--<div class="row">-->
        <!--<form id="uploadForm" class="form-horizontal" action="" method="post" autocomplete="off">-->
            <!--<div class="form-group noborder">-->
                <!--<div class="col-md-10 col-md-offset-1">-->
                    <!--<input id="file" name="file" type="file" class="file-loading jsfile">-->
                <!--</div>-->
                <!--<div class="col-md-10 col-md-offset-1">-->
                    <!--<span class="msg-box n-right js-file-error" for="file"></span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</script>-->


<script type="text/javascript">
	var _globalData = {
	file:'',
	};
</script>

#end
#end

<script type="text/javascript" src="/static/scripts/pages/configure/huachang.js"></script>
