<!-- 优惠券创建 -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <form role="form" id="couponCreate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">优惠券创建</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">类型:</label>
                                <select id="type" class="form-control" name="type">
                                    <option value="">请选择</option>
                                    <option value="R">免息券</option>
                                    <option value="D">减免券</option>            
                                </select>
                            </div>
                        </div>                      
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">名称:</label>
                                <input type="text" name="name" class="form-control" id="name" maxlength="20" placeholder="输入名称" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">key:</label>
                                <select id="protossKey" class="form-control" name="protossKey">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">减免期数:</label>
                                <div class="dis-inline" id="termWrap">
                                    <input type="text" name="term" class="form-control" id="term" maxlength="4" placeholder="输入减免期数" autocomplete="off">
                                    <span>期</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">减免力度:</label>
                                <input type="text" name="rate" class="form-control" id="rate" maxlength="8" placeholder="输入减免力度" autocomplete="off">
                                <span id="unit" class="none">元</span>
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">使用条件:</label>
                                <span>借款满</span>
                                <input type="text" name="useAmount" class="form-control" id="useAmount" maxlength="8" autocomplete="off">
                                <span>元可用</span>
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">有效时间:</label>
                                <div class="dis-inline vt">                                
                                    <label>
                                        <input type="radio" checked value="F" name="dateType">
                                        <span>固定日期范围</span>
                                        <input type="text" name="startDate" class="form-control datatimepicker" readonly>
                                        <span> - </span>
                                        <input type="text" name="endDate" class="form-control datatimepicker" readonly>
                                    </label>                               
                                    <label>
                                        <input type="radio" value="L" name="dateType">
                                        <span>固定日期天数</span>
                                        <input type="text" name="length" id="dayLength" class="form-control" autocomplete="off">
                                        <span>天有效</span>
                                    </label>                              
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">说明:</label>                               
                                <textarea class="form-control" name="description" placeholder="输入说明" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 MB10">
                            <div class="form-inline">
                                <label class="control-label col-md-3">备注:</label>      
                                <textarea class="form-control" name="comment" placeholder="输入备注" rows="1"></textarea>
                            </div>
                        </div>                  
                    </div>               
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info js-submit-btn">确认</button>
                    <button type="button" class="btn btn-default js-cancel-btn">取消</button>
                    <button type="reset" class="none" id="resetBtn"></button>                    
                </div>
            </form>
        </div>
    </div>
</div>
