#set($title = "优惠券统计")

#extends("../../layout/main.vm")

#block('head_meta')
    <link rel="stylesheet" type="text/css" href="/static/styles/pages/coupon.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
#parse("../pages/common/_menu.vm")

<div class="main-box">
   <div class="main-header">
        <div class="breadcrumb">
            <a href="javascript:;"><i class="fa fa-th-large"></i>优惠券管理</a>
            <i class="fa fa-caret-right"></i>
            <a href="javascript:;">$!{title}</a>
        </div>
    </div>

    <div class="main-cnt">
        <h1>$!{title}</h1>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline pull-left" id="searchForm">
                    <div class="form-group noborder">
                        <label for="title">业务线:</label>
                        <select class="form-control" name="channel" id="channel">
                        </select>
                    </div>
                    <div class="form-group noborder">
                        <label for="title">发放名单:</label>
                        <input type="text" name="batchName" class="form-control">
                    </div>
                    <div class="form-group noborder">
                        <label for="title">优惠券名称:</label>
                        <input type="text" name="couponName" class="form-control">
                    </div>
                    <button type="button" class="btn btn-primary js-search-btn">查询</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body nopadding">
                <table id="table" class="table data-table nowrap">
                    <thead>
                        <th>业务线</th>
                        <th>发放名单</th>
                        <th>优惠券ID</th>
                        <th>优惠券名称</th>
                        <th>有效时间</th>
                        <th>发放人数</th>
                        <th>发放失败人数</th>
                        <th>使用人数</th>
                        <th>使用率<span class="icon-tip" data-toggle="tooltip" data-placement="top" title="使用率=使用人数/发放人数">?</span></th>
                        <th>用券总成交额<span class="icon-tip" data-toggle="tooltip" data-placement="top" title="该批次使用该优惠券的总放款金额">?</span></th>
                        <th>优惠总金额<span class="icon-tip" data-toggle="tooltip" data-placement="top" title="该批次使用该优惠券的总优惠金额">?</span></th>
                        <th>费效比<span class="icon-tip" data-toggle="tooltip" data-placement="top" title="费效比=优惠总金额/用券总成交额">?</span></th>
                        <th>操作</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

#end
#end

<script src="/static/scripts/pages/coupon/statisticList.js"></script>