#set($title = "产品系列列表")

#extends("../../layout/main.vm")

#block('head_meta')
	<link rel="stylesheet" type="text/css" href="/static/styles/pages/product.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
#parse("../pages/common/_menu.vm")

<div class="main-box">
  <div class="main-header">
		<div class="breadcrumb">
  			<a href="javascript:;"><i class="fa fa-th-large"></i>产品管理</a>
  			<i class="fa fa-caret-right"></i>
		    <a href="javascript:;">系列列表</a>
		</div>
	</div>

  <div class="main-cnt">
    <h1>系列列表</h1>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <form class="form-inline pull-left" id="searchForm">
          <div class="form-group noborder">
            <label for="title">产品系列:</label>
            <input type="text" name="productGroupName" class="form-control">
          </div>
          <div class="form-group noborder">
            <label for="title">产品系列代码:</label>
            <input type="text" name="productGroupId" class="form-control">
          </div>
          <button type="button" class="btn btn-primary js-search-btn">搜索</button>
        </form>
        <div class="pull-right">
          <a href="/product/add" class="btn btn-primary">新建产品系列</a>
        </div>
      </div>
    </div>

		<div class="panel panel-default">
			<div class="panel-body nopadding">
				<table id="table" class="table data-table nowrap">
					<thead>
						<th>序号</th>
						<th>产品系列名称</th>
						<th>代码</th>
						<th>可办角色</th>
						<th>对应商品类目</th>
						<th>是否白名单</th>
						<th>操作</th>
					</thead>
				</table>
			</div>
		</div>

  </div>

</div>

#end
#end

<script src="/static/scripts/pages/product/list.js"></script>
