#set($title = "电子合同列表")

#extends("../../layout/main.vm")

#block('head_meta')
	<link rel="stylesheet" type="text/css" href="/static/styles/pages/sale.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
#parse("../pages/common/_menu.vm")

<div class="main-box">
  <div class="main-header">
		<div class="breadcrumb">
  			<a href="javascript:;"><i class="fa fa-th-large"></i>合同管理</a>
  			<i class="fa fa-caret-right"></i>
		    <a href="javascript:;">电子合同列表</a>
		</div>
	</div>

  <div class="main-cnt">
    <h1>电子合同列表</h1>
    <hr>

    <div class="row">
      <div class="col-md-12">
        <form class="form-inline pull-left" id="searchForm">
          <div class="form-group noborder">
            <label for="title">合同号:</label>
            <input type="text" name="contractNo" class="form-control">
          </div>
					<!-- <div class="form-group noborder">
            <label for="title">身份证:</label>
            <input type="text" name="idCardNo" class="form-control">
          </div> -->
          <button type="button" class="btn btn-primary js-search-btn">查询</button>
        </form>
      </div>
    </div>

		<div class="panel panel-default">
			<div class="panel-body nopadding">
				<table id="table" class="table data-table nowrap">
					<thead>
						<th>合同号</th>
						<th>合同类型</th>
						<th>电子合同类型</th>
						<th>姓名</th>
						<th>身份证</th>
						<th>操作</th>
					</thead>
				</table>
			</div>
		</div>

  </div>

</div>


#end
#end

<script src="/static/scripts/pages/order/e-contract.js"></script>
