#set($title = "新增资金配置")
#extends("../../layout/main.vm")

#block('head_meta')
	<link rel="stylesheet" type="text/css" href="/static/styles/pages/sale.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
#parse("../pages/common/_menu.vm")
<div class="main-box" data-toggle="" data-target="">
	<div class="main-header">
		<div class="breadcrumb">
  			<a href="javascript:;"><i class="fa fa-th-large"></i>资金管理</a>
  			<i class="fa fa-caret-right"></i>
		    <a id="parentUrl" href="/capital/configrationIndex.shtml">资金配置</a>
  			<i class="fa fa-caret-right"></i>
		    <a href="javascript:;">新增资金计划</a>
		</div>
	</div>

	<div class="main-cnt">
		<h1>新增资金计划</h1>

	    <div class="panel panel-default">
        	<div class="panel-body nopadding">
                <table id="addTable" class="table data-table">
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>资金计划code</th>
                            <th>金额</th>
                            <th>银行限制</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>
         	</div>
        </div>

		<div class="row">
            <div class="col-md-12">
				<button type="button" class="btn btn-default js-modal-addRow"><i class="fa fa-plus"></i> 新增</button>
				<button type="submit" class="btn btn-info js-modal-addBtn"><i class="fa fa-save"></i> 保存</button>
            </div>
        </div>
	</div>
</div>


<script type="text/html" id="bankGroupIdSelect">
    <select class="selectpicker" name="bankGroupId">
        <option value="NONE">无限制</option>
        #foreach($item in $bankGroupIds)
            <option value="$!item">$!item</option>
        #end
    </select>
</script>

<script type="text/html" id="configCodeOption">
    <select class="selectpicker" name="configCode">
        <option value="">请选择</option>
        #foreach($item in $configCodes)
            <option value="$!item">$!item</option>
        #end
    </select>
</script>


#end
#end

<script type="text/javascript" src="/static/scripts/pages/fund/index-add.js"></script>
