#set($title = "app公告后台")
#extends("../../layout/main.vm")

#block('head_meta')
	<link rel="stylesheet" type="text/css" href="/static/styles/pages/splash.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
#parse("../pages/common/_menu.vm")
<div class="main-box" data-toggle="" data-target="">
	<div class="main-header">
		<div class="breadcrumb">
  			<a href="/index.shtml"><i class="fa fa-th-large"></i>app配置后台</a>
  			<i class="fa fa-caret-right"></i>
		    <a href="/affiche/query.shtml">app公告后台</a>
		</div>
	</div>

	<div class="main-cnt">
		<h1>app公告后台</h1>
	    <hr/>
      	<div class="row toolbar">
      		<div class="col-xs-12 ">
            <form class="form-inline pull-left">
              <div class="form-group noborder">
                <label for="title">公告标题:</label>
                <input type="text" name="title" class="form-control">
              </div>
			  <div class="form-group noborder">
                <label for="title">所属系统:</label>
                <select class="selectpicker" name="system">
					<option value="">请选择</option>
					<option value="0">有用无忧app</option>
					<option value="1">销售易</option>
                </select>
              </div>
              <button type="button" class="btn btn-primary js-search">查询</button>
            </form>
      			<div class="pull-right">
      				<a href="/affiche/add.shtml" class="btn btn-primary">新建公告</a>
      			</div>
      		</div>
      	</div>

	    <div class="panel panel-default">
        	<div class="panel-body nopadding">
          		<table class="table data-table">
              		<thead>
                		<tr>
		                  	<th>序号</th>
  							<th>公告标题</th>
  							<th>轮播banner</th>
  							<th>权重</th>
                            <th>添加时间</th>
  							<th>状态</th>
  							<th>操作</th>
		                </tr>
              		</thead>
            	</table>
         	</div>
        </div>

	</div>
</div>

#end
#end

<script type="text/javascript" src="/static/scripts/pages/notice/index.js"></script>
